In [ ]:
pip install mariadb sqlalchemy

In [ ]:
pip install mysql-connector-python

In [1]:
import mariadb
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

In [2]:
#connection

In [3]:
hostname="localhost"
dbname="test"
uname="root"
pwd="password"

In [4]:
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
                .format(host=hostname, db=dbname, user=uname, pw=pwd))

In [5]:
#importing tables from mariadb

In [5]:
df_customers = pd.read_sql('SELECT * FROM customers', engine)
df_order_items = pd.read_sql('SELECT * FROM order_items', engine)
df_products = pd.read_sql('SELECT * FROM products', engine)
df_order_reviews = pd.read_sql('SELECT * FROM order_reviews', engine)
df_orders = pd.read_sql('SELECT * FROM orders', engine)

In [7]:
##########################################################################

In [6]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99441 non-null  object
 5   order_delivered_carrier_date   99441 non-null  object
 6   order_delivered_customer_date  99441 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [7]:
df_orders.shape

(99441, 8)

In [8]:
df_orders["order_id"].nunique()

99441

In [9]:
df_orders["customer_id"].nunique()

99441

In [10]:
df_orders["order_approved_at"].nunique()

1

In [11]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [12]:
df_customers.shape

(99441, 5)

In [13]:
df_customers["customer_id"].nunique()

99441

In [14]:
df_customers["customer_unique_id"].nunique()

96096

In [17]:
#df_merge_oc = pd.merge(df_orders, df_customers, left_on='customer_id', right_on='customer_unique_id')

In [18]:
#orders join customers on customer id

In [15]:
df_merge_oc = pd.merge(df_orders, df_customers, on='customer_id',  how='left')

In [16]:
df_merge_oc.shape

(99441, 12)

In [17]:
df_merge_oc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99441 entries, 0 to 99440
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99441 non-null  object
 5   order_delivered_carrier_date   99441 non-null  object
 6   order_delivered_customer_date  99441 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
 8   customer_unique_id             99441 non-null  object
 9   customer_zip_code_prefix       99441 non-null  int64
 10  customer_city                  99441 non-null  object
 11  customer_state                 99441 non-null  object
dtypes: int64(1), object(11)
memory usage: 9.9+ MB

In [18]:
df_merge_oc= df_merge_oc[['order_id','customer_id','customer_zip_code_prefix','customer_city','customer_state']]

In [19]:
df_merge_oc.head()

,order_id,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,28013,campos dos goytacazes,RJ
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,15775,santa fe do sul,SP
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,35661,para de minas,MG
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,12952,atibaia,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,13226,varzea paulista,SP

In [20]:
df_merge_oc.shape

(99441, 5)

In [21]:
#df_merge_oc merge on order items

In [22]:
df_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112397 entries, 0 to 112396
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112397 non-null  object
 1   order_item_id        112397 non-null  int64
 2   product_id           112397 non-null  object
 3   seller_id            112397 non-null  object
 4   shipping_limit_date  112397 non-null  object
 5   price                112397 non-null  float64
 6   freight_value        112397 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [23]:
df_order_items.shape

(112397, 7)

In [24]:
df_order_items.nunique()

order_id               98450
order_item_id             21
product_id             32889
seller_id               3088
shipping_limit_date        1
price                   5959
freight_value           6995
dtype: int64

In [25]:
df_merge_oc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  99441 non-null  object
 1   customer_id               99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 4.6+ MB

In [26]:
df_merge_oc.nunique()

order_id                    99441
customer_id                 99441
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
dtype: int64

In [27]:
df_merge_oc_oi = pd.merge(df_merge_oc, df_order_items, on='order_id',  how='left')

In [28]:
df_merge_oc_oi.shape

(113388, 11)

In [29]:
df_merge_oc_oi.nunique()

order_id                    99441
customer_id                 99441
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
order_item_id                  21
product_id                  32889
seller_id                    3088
shipping_limit_date             1
price                        5959
freight_value                6995
dtype: int64

In [30]:
df_merge_oc_oi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113388 entries, 0 to 113387
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_id                  113388 non-null  object
 1   customer_id               113388 non-null  object
 2   customer_zip_code_prefix  113388 non-null  int64
 3   customer_city             113388 non-null  object
 4   customer_state            113388 non-null  object
 5   order_item_id             112397 non-null  float64
 6   product_id                112397 non-null  object
 7   seller_id                 112397 non-null  object
 8   shipping_limit_date       112397 non-null  object
 9   price                     112397 non-null  float64
 10  freight_value             112397 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 10.4+ MB

In [31]:
df_merge_oc_oi.head()

,order_id,customer_id,customer_zip_code_prefix,customer_city,customer_state,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,28013,campos dos goytacazes,RJ,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,0000-00-00 00:00:00,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,15775,santa fe do sul,SP,1.0,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,0000-00-00 00:00:00,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,35661,para de minas,MG,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,0000-00-00 00:00:00,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,12952,atibaia,SP,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,0000-00-00 00:00:00,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,13226,varzea paulista,SP,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,0000-00-00 00:00:00,199.90,18.14

In [32]:
df_merge_oc_oi=df_merge_oc_oi[['order_id','customer_id','customer_zip_code_prefix','customer_city','customer_state','product_id','seller_id','price','freight_value']]

In [33]:
df_merge_oc_oi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113388 entries, 0 to 113387
Data columns (total 9 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_id                  113388 non-null  object
 1   customer_id               113388 non-null  object
 2   customer_zip_code_prefix  113388 non-null  int64
 3   customer_city             113388 non-null  object
 4   customer_state            113388 non-null  object
 5   product_id                112397 non-null  object
 6   seller_id                 112397 non-null  object
 7   price                     112397 non-null  float64
 8   freight_value             112397 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 8.7+ MB

In [34]:
# df_merge_oc_oi merge on products

In [35]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32951 non-null  object
 2   product_name_lenght         32951 non-null  int64
 3   product_description_lenght  32951 non-null  int64
 4   product_photos_qty          32951 non-null  int64
 5   product_weight_g            32951 non-null  float64
 6   product_length_cm           32951 non-null  float64
 7   product_height_cm           32951 non-null  float64
 8   product_width_cm            32951 non-null  float64
dtypes: float64(4), int64(3), object(2)
memory usage: 2.3+ MB

In [36]:
df_products.shape

(32951, 9)

In [37]:
df_products.nunique()

product_id                    32951
product_category_name            74
product_name_lenght              67
product_description_lenght     2961
product_photos_qty               20
product_weight_g               2204
product_length_cm               100
product_height_cm               103
product_width_cm                 96
dtype: int64

In [38]:
df_merge_oc_oi_pi = pd.merge(df_merge_oc_oi, df_products, on='product_id',  how='left')

In [39]:
df_merge_oc_oi_pi.shape

(113388, 17)

In [40]:
df_merge_oc_oi_pi.nunique()

order_id                      99441
customer_id                   99441
customer_zip_code_prefix      14994
customer_city                  4119
customer_state                   27
product_id                    32889
seller_id                      3088
price                          5959
freight_value                  6995
product_category_name            74
product_name_lenght              67
product_description_lenght     2961
product_photos_qty               20
product_weight_g               2204
product_length_cm               100
product_height_cm               103
product_width_cm                 96
dtype: int64

In [41]:
df_merge_oc_oi_pi=df_merge_oc_oi_pi[['order_id','customer_id','customer_zip_code_prefix','customer_city','customer_state','product_id','seller_id','price','freight_value','product_category_name']]

In [42]:
df_merge_oc_oi_pi.head()

,order_id,customer_id,customer_zip_code_prefix,customer_city,customer_state,product_id,seller_id,price,freight_value,product_category_name
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,28013,campos dos goytacazes,RJ,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,cool_stuff
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,15775,santa fe do sul,SP,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,pet_shop
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,35661,para de minas,MG,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87,moveis_decoracao
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,12952,atibaia,SP,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,perfumaria
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,13226,varzea paulista,SP,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14,ferramentas_jardim

In [43]:
# df_merge_oc_oi_pi merge on order reviews

In [44]:
df_order_reviews.shape

(98408, 7)

In [45]:
df_order_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98408 entries, 0 to 98407
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98408 non-null  object
 1   order_id                 98408 non-null  object
 2   review_score             98408 non-null  int64
 3   review_comment_title     98408 non-null  object
 4   review_comment_message   98408 non-null  object
 5   review_creation_date     98408 non-null  object
 6   review_answer_timestamp  98408 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [46]:
df_order_reviews.nunique()

review_id                  98408
order_id                   98165
review_score                   5
review_comment_title        4516
review_comment_message     36154
review_creation_date           1
review_answer_timestamp        1
dtype: int64

In [47]:
df_merge_oc_oi_pi_or = pd.merge(df_merge_oc_oi_pi, df_order_reviews, on='order_id',  how='left')

In [48]:
df_merge_oc_oi_pi_or.shape

(113690, 16)

In [49]:
df_merge_oc_oi_pi_or.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113690 entries, 0 to 113689
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_id                  113690 non-null  object
 1   customer_id               113690 non-null  object
 2   customer_zip_code_prefix  113690 non-null  int64
 3   customer_city             113690 non-null  object
 4   customer_state            113690 non-null  object
 5   product_id                112697 non-null  object
 6   seller_id                 112697 non-null  object
 7   price                     112697 non-null  float64
 8   freight_value             112697 non-null  float64
 9   product_category_name     112697 non-null  object
 10  review_id                 112150 non-null  object
 11  review_score              112150 non-null  float64
 12  review_comment_title      112150 non-null  object
 13  review_comment_message    112150 non-null  object
 14  review_creation_date      112150 non-null  object
 15  review_answer_timestamp   112150 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 14.7+ MB

In [50]:
df_merge_oc_oi_pi_or.nunique()

order_id                    99441
customer_id                 99441
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
product_id                  32889
seller_id                    3088
price                        5959
freight_value                6995
product_category_name          74
review_id                   98408
review_score                    5
review_comment_title         4516
review_comment_message      36154
review_creation_date            1
review_answer_timestamp         1
dtype: int64

In [51]:
df_merge_oc_oi_pi_or = df_merge_oc_oi_pi_or[['order_id','customer_id','customer_zip_code_prefix','customer_city','customer_state','product_id','seller_id','price','freight_value','product_category_name','review_id','review_score','review_comment_title','review_comment_message']]

In [52]:
df_merge_oc_oi_pi_or.shape

(113690, 14)

In [54]:
df_merge_oc_oi_pi_or.nunique()

order_id                    99441
customer_id                 99441
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
product_id                  32889
seller_id                    3088
price                        5959
freight_value                6995
product_category_name          74
review_id                   98408
review_score                    5
review_comment_title         4516
review_comment_message      36154
dtype: int64

In [55]:
df_final = df_merge_oc_oi_pi_or.copy()

In [56]:
df_final.shape

(113690, 14)

In [57]:
df_final.to_csv("Olist_merge.csv")

In [58]:
#pushback

In [59]:
df_final.to_sql('Olist_merge', engine, index=False)

C:\Users\acer\AppData\Local\Temp\ipykernel_18464\318756490.py:1: UserWarning: The provided table name 'Olist_merge' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_final.to_sql('Olist_merge', engine, index=False)

113690